.App {
  text-align: center;
  margin-top: 5%;
}
table{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 2px solid #90a4ae;
}
th {
  background: #cfd8dc;
  padding: 1.3ch;
  border: 2px solid #90a4ae;
}
tr {
  /* &:nth-child(even) { */
    background: #ffffff;
  /* } */
}
.inputTable td{
  border: none;
  padding: 2ch;
}
td {
  padding: 1ch;
  border: 2px solid #90a4ae;
  /* &:empty {
    background: #e53935;
    &::before {
      content: "full";
      color: white;
    }
  } */
}

button{
  width: 140px;
  height: 40px;
  border-radius: 22px;
}
label {
  /* Other styling... */
  /* text-align: right; */
  clear: both;
  /* float:left; */
  margin-right:15px;
}
input {
  height: 20px;
  width: 300px;
  border: 1px solid #000;
  /* margin-top: 10px; */
  /* float: left; */
 }
